@model RegistrationForm1.Models.employe
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Employee id:@Model.empid<br>
        Employee name:@Model.empname<br>
        Emplyee email:@Model.empemail<br>
        Emplyee password:@Model.emppassword<br>
        Emplyee mobile:@Model.empmobile<br>
        

    </div>
</body>
</html>
